// ---------------------------------------------------


//  THIS FILE CONTAINS COMPLETE CONFIGURATION FOR LUI FRAMEWORK
//  if you're using composer to download actual version, copy 
//  variables you want to change into your own project config file 


// ---------------------------------------------------


//  DEBUG MODE
//  Will enable some debug features:
//  Visible actual col-width used, aka "col-xs-12" 
//  on phones (since you cant really open console on phone and look)
@lui_debug: false;


// ---------------------------------------------------


//	TURN ON/OFF RESPONSIVE
//  This will disable or enable responsive UI elements
@lui_responsive: true;


// ---------------------------------------------------


//  DISABLE OR ENABLE UI COMPONENTS
//  true - will include; false - wont include
//  WARNING: some components may depends on each other (mixins)

//  BASIC CSS RESET - if you use your own, you can turn this off
@lui_component_css_reset: true;

//  DEFAULT GLOBAL STYLES
//  additional configuration below (@lui_style_)
@lui_component_defaults: true;

//  FontAwesome icon fonts used mostly in buttons
@lui_component_fontawesome: true;

//  LUI GRID SYSTEM
@lui_component_grid: true;

//  BUTTONS
@lui_component_button: true;

//  FORMS
@lui_component_form: true;

//  PAGEBAR
@lui_component_pagebar: true;

//  RESPONSIVE TABLE - if you dont plan to use responsive friendly tables, turn them off
@lui_component_responsive_table: true;

//  UI_BOX
@lui_component_box: true;


// ---------------------------------------------------


//  APPLY LUI STYLES TO THESE ELEMENTS GLOBALY
//  when "false" styles will be applied only inside certaing elements
//  example: .lui_form containing text inputs

//  SETS DEFAULT STYLES FOR "INPUT" ELEMENTS (text inputs only)
@lui_style_all_input: 			true;

//  DEFAULT STYLES FOR "TEXTAREA"
@lui_style_all_textarea: 		true;

//  DEFAULT STYLES FOR "SELECT"
@lui_style_all_select: 			true;

//  DEFAULT STYLES FOR "BUTTON" AND "INPUT[SUBMIT] + INPUT[RESET]"
@lui_style_all_button: 			true;

//  DEFAULT STYLES FOR "H1 - H6"
@lui_style_typo_headings: 		true;

//  DEFAULT STYLES FOR "P, UL, OL, HR"
@lui_style_typo_basic_texts: 	true;

//  DEFAULT STZLES FOR "PRE" (still WIP)
@lui_style_typo_extra: 			true;


// ---------------------------------------------------

//  LUI GRID SYSTEM
@grid_xs_enable: 			true;
@grid_xs_start: 			0;
@grid_xs_end: 				500px;
@lui_container_xs_width: 	100%;

@grid_sm_enable: 			true;
@grid_sm_start: 			501px;
@grid_sm_end: 				767px;
@lui_container_sm_width: 	470px;

@grid_md_enable: 			true;
@grid_md_start: 			768px;
@grid_md_end: 				991px;
@lui_container_md_width: 	735px;

@grid_lg_enable: 			true;
@grid_lg_start: 			992px;
@grid_lg_end: 				1199px;
@lui_container_lg_width: 	970px;

@grid_xl_enable: 			true;
@grid_xl_start: 			1200px;
@grid_xl_end: 				1499px;
@lui_container_xl_width: 	1150px;

@grid_hd_enable: 			true;
@grid_hd_start: 			1500px;
@grid_hd_end: 				1999px;
@lui_container_hd_width: 	1450px;

@grid_2k_enable: 			true;
@grid_2k_start: 			2000px;
@grid_2k_end: 				9999px; // LETS CALL THIS INFINITE
@lui_container_2k_width: 	1950px;

@grid_print_enable: 		true;

// GRID HORIZONTAL SPACING
@lui_container_padding:	 15px;
@lui_row_margin: 		-15px;
@lui_col_padding: 		 15px;

// DIMENSIONS
@lui_col_1_width:	8.333%;
@lui_col_2_width:	16.666%;
@lui_col_3_width:	25%;
@lui_col_4_width:	33.333%;
@lui_col_5_width:	41.666%;
@lui_col_6_width:	50%;
@lui_col_7_width:	58.33%;
@lui_col_8_width:	66.66%;
@lui_col_9_width:	75%;
@lui_col_10_width:	83.33%;
@lui_col_11_width:	91.66%;
@lui_col_12_width:	100%;

// MARGIN LEFT FOR SPACE BETWEEN COLS
@lui_ml_1_width:	8.333%;
@lui_ml_2_width:	16.666%;
@lui_ml_3_width:	25%;
@lui_ml_4_width:	33.333%;
@lui_ml_5_width:	41.666%;
@lui_ml_6_width:	50%;
@lui_ml_7_width:	58.33%;
@lui_ml_8_width:	66.66%;
@lui_ml_9_width:	75%;
@lui_ml_10_width:	83.33%;
@lui_ml_11_width:	91.66%;
@lui_ml_12_width:	100%;

// MARGIN RIGHT FOR SPACE BETWEEN COLS
@lui_mr_1_width:	8.333%;
@lui_mr_2_width:	16.666%;
@lui_mr_3_width:	25%;
@lui_mr_4_width:	33.333%;
@lui_mr_5_width:	41.666%;
@lui_mr_6_width:	50%;
@lui_mr_7_width:	58.33%;
@lui_mr_8_width:	66.66%;
@lui_mr_9_width:	75%;
@lui_mr_10_width:	83.33%;
@lui_mr_11_width:	91.66%;
@lui_mr_12_width:	100%;


// ---------------------------------------------------


//	UI MESSAGES
//     just basic status messages and their colors


// TODO:

/*

NOT YET IMPLEMENTED

@default_ui_message_confirm_bg:		#cdf6bf;
@default_ui_message_confirm_color:	#11420e;
@default_ui_message_error_bg:		#f6bfbf;
@default_ui_message_error_color:	#420e0e;
@default_ui_message_warning_bg:		#f6e6bf;
@default_ui_message_warning_color:	#42360e;
@default_ui_message_info_bg:		#bfe6f6;
@default_ui_message_info_color:		#0e3542;
@default_ui_form_required_color:	#AE0000;
*/


// ---------------------------------------------------


//  GLOBAL COLOR SETTINGS
@color_confirm:	#45bd0a;
@color_info:	#34aaed;
@color_edit:	#ee8e04;
@color_delete:	#e60d0d;


// ---------------------------------------------------


//  BUTTONS
@lui_button_default: 	silver;
@lui_button_primary: 	#34aaed;
@lui_button_info: 		#75C1EA;
@lui_button_success: 	#45bd0a;
@lui_button_danger: 	#e60d0d;
@lui_button_warning: 	#ee8e04;
@lui_button_dark: 		#373737;

@lui_button_small_height: 		26px;
@lui_buttom_small_font-size: 	12px;

@lui_button_normal_height: 		32px;
@lui_button_normal_font-size: 	13px;

@lui_button_big_height: 		38px;
@lui_button_big_font-size: 		15px;


// -------------------------------------


//  PAGEBAR
@pgb_default_bg:	#f2f2f2; // LIGHT VERSION
@pgb_dark_bg:		#515a5e; // DARK VERSION


// ---------------------------------------------------


//  BOX
@box_default:	#34aaed; // DEFAULT HEADER COLOR