@import "ui/less/router.less";


body {
	
	padding: 0;
	margin: 0;
}

/*

HEADER 

*/
.demo_header {
	height: 150px;
	background: #202023;
	.lui.flexbox.items.align(center);
}

.demo_content {
	background: white;
	min-height: 300px;
	padding: 30px 15px;
}