//
// GLOBAL DEFAULT STYLE
//

& when(@lui_style_all_input = true){
	input[type="text"],
	input[type="password"],
	input[type="date"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="email"],
	input[type="month"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="time"],
	input[type="url"],
	input[type="week"] {
		.lui.form.input(auto);
	}
}

& when(@lui_style_all_textarea = true){
	textarea {
		.lui.form.textarea(auto);
	}
}

& when(@lui_style_all_select = true){
	select {
		.lui.form.select(auto);
	}
}

& when(@lui_style_all_button = true){
	button {
		.lui_button();
	}

	input[type="button"]{
		.lui_button();
	}

	input[type="submit"]{
		.lui_button();
		.lui_button.confirm();
	}

	input[type="reset"]{
		.lui_button();
		.lui_button.delete();
	}
}


& when(@lui_style_typo_headings = true){
	h1 {
		padding: 15px 0;
		font-size: 35px;
		font-weight: normal;
		color: #2e3c47;
	}
	
	h2 {
		padding: 15px 0;
		font-size: 30px;
		font-weight: normal;
		color: #2e3c47;
	}
	
	h3 {
		padding: 14px 0;
		font-size: 25px;
		font-weight: normal;
		color: #2e3c47;
	}
	
	h4 {
		padding: 12px 0;
		font-size: 20px;
		font-weight: normal;
		color: #2e3c47;
	}
	
	h5 {
		padding: 9px 0;
		font-size: 18px;
		font-weight: normal;
		color: #2e3c47;
	}
	
	h6 {
		padding: 7px 0;
		font-size: 15px;
		font-weight: normal;
		color: #2e3c47;
	}
}

& when(@lui_style_typo_basic_texts = true){
	p {
		padding: 15px 0;
		font-size: 14px;
		line-height: 1.4;
	}
	
	ul,
	ol {
		font-size: 14px;
		line-height: 1.4;
		margin: 15px 0 15px 20px;
		
		ul,
		ol {
			margin: 5px 0 5px 20px;
		}
	}
	
	hr {
		margin: 10px 0;
		border: 0;
		border-top: 1px solid silver;
	}
}


& when(@lui_style_typo_extra = true){
	pre {
		margin: 15px 0;
		padding: 15px;
		font-size: 14px;
		background: #f2f2f2;
		border: 1px dashed silver;
		color: #3D3D3D;
		
		tab-size: 4;
		
		&:before {
			display: block;
			padding: 5px 15px;
			border-bottom: 1px solid silver;
			margin: -15px -15px 15px -15px;
			content: attr(data-title);
			font-size: 11px;
			font-weight: bold;
			background: white;
		}
		
		.highlight {
			color: #207cca;
		}
	}
	
}