// 
// MESSAGE
// 
.lui_message {
	position: relative;
	margin: 10px 0;
	padding: 15px 15px 15px 20px;
	background: white;
	overflow: hidden;
	border-radius: 5px;

	&:before {
		position: absolute;
		top: -20px;
		left: -20px;
		width: 40px;
		height: 40px;
		.lui.transform.this(rotate(-45deg));
		content: "";
	}
	
	& > .title {
		font-size: 16px;
		font-weight: bold;
		padding: 0 0 5px 0;
	}
	
	& > a.close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		color: #949494;
		width: 30px;
		height: 30px;
		line-height: 30px;
		border-radius: 3px;
		text-align: center;

		&:hover {
			color: #535353;
		}

		&:before {
			font-family: FontAwesome;
			font-size: 16px;
			line-height: 16px;
			content: "\f00d";
		}
	}

	&.info {
		background: @color_info;
		
		& > .title {
			color: white;
		}
		
		& > a.close {
			color: white;
			
			&:hover {
				background:rgba(0,0,0,0.1);
			}
		}
	}

	&.warning {
		background: @color_edit;
		
		& > .title {
			color: white;
		}
		
		& > a.close {
			color: white;
			
			&:hover {
				background:rgba(0,0,0,0.1);
			}
		}
	}

	&.error {
		background: @color_delete;
		
		& > .title {
			color: white;
		}
		
		& > a.close {
			color: white;
			
			&:hover {
				background:rgba(0,0,0,0.1);
			}
		}
	}

	&.confirm {
		background: @color_confirm;
		
		& > .title {
			color: white;
		}
		
		& > a.close {
			color: white;
			
			&:hover {
				background:rgba(0,0,0,0.1);
			}
		}
	}
}

