
/* TURN ON RESPONSIVE */
@responsive: true;


/* UI MESSAGES */
@default_ui_message_confirm_bg:		#cdf6bf;
@default_ui_message_confirm_color:	#11420e;
@default_ui_message_error_bg:		#f6bfbf;
@default_ui_message_error_color:	#420e0e;
@default_ui_message_warning_bg:		#f6e6bf;
@default_ui_message_warning_color:	#42360e;
@default_ui_message_info_bg:		#bfe6f6;
@default_ui_message_info_color:		#0e3542;
@default_ui_form_required_color:	#AE0000;


@color_confirm:	#45bd0a;
@color_info:	#34aaed;
@color_edit:	#ee8e04;
@color_delete:	#e60d0d;


/* RESPONSIVE "JUMPS" */
@grid_mb_w:		0px; // JUST FOR INFO - not really used
@grid_tb_w:		768px;
@grid_tb_mw:	767px;

@grid_ds_w:		1015px;
@grid_ds_mw:	1014px;

@grid_nb_w:		1250px;
@grid_nb_mw:	1249px;

@grid_hd_w:		1850px;
@grid_hd_mw:	1849px;

@grid_2k_w:		2500px;
@grid_2k_mw:	2499px;

@grid_3k_w:		3400px;
@grid_3k_mw:	3399px;

@grid_4k_w:		3800px;
@grid_4k_mw:	3799px;


/*

MIXINS
(must be included before anything else)

*/
@import "/lui/less/mixins/mixin.clear.less";
@import "/lui/less/mixins/mixin.border-radius.less";
@import "/lui/less/mixins/mixin.box-sizing.less";
@import "/lui/less/mixins/mixin.animation.less";
@import "/lui/less/mixins/mixin.transform.less";
@import "/lui/less/mixins/mixin.transition.less";
@import "/lui/less/mixins/mixin.flexbox.less";

@import "/lui/less/reset.less";


/*

UI COMPONENTS

*/

@import "/lui/less/ui/ui.fontawesome.less"; // must stay as first UI component

/* GRID */
@import "/lui/less/ui/ui.grid.less";

/* BUTTONS */
@btn_color_default:		silver;
@btn_color_confirm:		#45bd0a;
@btn_color_info:		#34aaed;
@btn_color_edit:		#ee8e04;
@btn_color_delete:		#e60d0d;
@btn_color_dark:		#373737;
@btn_mobile_height:		42px;
@import "/lui/less/ui/ui.button.less";

/* FORMS */
@import "/lui/less/ui/ui.form.less";

/* PAGEBAR */
@pgb_default_bg:	#f2f2f2;
@pgb_dark_bg:		#515a5e;
@import "/lui/less/ui/ui.pagebar.less";

/* TABLES OR "LISTS" */
@import "/lui/less/ui/ui.table.less";

/* BOX - CLOSABLE BOXES WITH HEADER */
@box_default:	#34aaed;
@import "/lui/less/ui/ui.box.less";
