/*

GRID

4k 3800+ (UHD-1, 4K)
3k 3400+ (UWQHD)
2k 2500+ (WQHD)
hd 1850+ (1080p, FULL HD, 2K - 2048)
nb 1250+ (720p, "HD READY")
ds 1015+ (desktop - most websites will use this cuz they are not wider than 1200px)
tb 768+ (tablet - verticaly)
mb 0+ (mobiles)

*/


/* SPACING */
@spacing_container:	15px;
@spacing_rows:		15px;

/* DIMENSIONS */
@col_1_W:	8.333%;
@col_2_W:	16.666%;
@col_3_W:	25%;
@col_4_W:	33.333%;
@col_5_W:	41.666%;
@col_6_W:	50%;
@col_7_W:	58.33%;
@col_8_W:	66.66%;
@col_9_W:	75%;
@col_10_W:	83.33%;
@col_11_W:	91.66%;
@col_12_W:	100%;

/* MARGIN LEFT FOR SPACE BETWEEN COLS */
@tbl_1_W:	8.333%;
@tbl_2_W:	16.666%;
@tbl_3_W:	25%;
@tbl_4_W:	33.333%;
@tbl_5_W:	41.666%;
@tbl_6_W:	50%;
@tbl_7_W:	58.33%;
@tbl_8_W:	66.66%;
@tbl_9_W:	75%;
@tbl_10_W:	83.33%;
@tbl_11_W:	91.66%;
@tbl_12_W:	100%;

/* MARGIN RIGHT FOR SPACE BETWEEN COLS */
@tbr_1_W:	8.333%;
@tbr_2_W:	16.666%;
@tbr_3_W:	25%;
@tbr_4_W:	33.333%;
@tbr_5_W:	41.666%;
@tbr_6_W:	50%;
@tbr_7_W:	58.33%;
@tbr_8_W:	66.66%;
@tbr_9_W:	75%;
@tbr_10_W:	83.33%;
@tbr_11_W:	91.66%;
@tbr_12_W:	100%;

/* CONTAINER WIDTHS */
@cnt_xs_w: 100%;
@cnt_sm_w: 470px;
@cnt_md_w: 735px;
@cnt_lg_w: 970px;
@cnt_xl_w: 1150px;
@cnt_hd_w: 1450px;
@cnt_2k_w: 1950px;


/* GRID M */
.container {
	.lui.box-sizing.border-box();
	width: @cnt_xs_w;
	margin: 0 auto;
	padding: 0 @spacing_container;
	
	/* XS IS NOT SPECIFIED CUZ CONTAINER IS 100% - DEFAULT VALUE */
	
	@media (min-width:@grid_sm_start){
		width: @cnt_sm_w;
	}

	@media (min-width:@grid_md_start){
		width: @cnt_md_w;
	}

	@media (min-width:@grid_lg_start){
		width: @cnt_lg_w;
	}

	@media (min-width:@grid_xl_start){
		width: @cnt_xl_w;
	}

	@media (min-width:@grid_hd_start){
		width: @cnt_hd_w;
	}

	@media (min-width:@grid_2k_start){
		width: @cnt_2k_w;
	}

	&.fluid {
		width: 100%;
	}
}

.container-fluid {
	width: 100%;
}



.container-fluid,
.container.fluid {
	&.max_xs {
		max-width: @cnt_xs_w;
	}

	&.max_sm {
		max-width: @cnt_sm_w;
	}

	&.max_md {
		max-width: @cnt_md_w;
	}

	&.max_lg {
		max-width: @cnt_lg_w;
	}

	&.max_xl {
		max-width: @cnt_xl_w;
	}

	&.max_hd {
		max-width: @cnt_hd_w;
	}

	&.max_2k {
		max-width: @cnt_2k_w;
	}
}

.row {
	.lui.box-sizing.border-box();
	.lui.clear.after();
	.lui.flexbox.block();
	.lui.flexbox.flex-direction(row);
	.lui.flexbox.flex-wrap(wrap);

	margin: 0 -@spacing_container;

	&.va-top {
		.lui.flexbox.align-content(flex-start);
		.lui.flexbox.align-items(flex-start);
	}

	&.va-bottom {
		.lui.flexbox.align-content(flex-start);
		.lui.flexbox.align-items(flex-end);
	}

	&.va-middle,
	&.va-center {
		.lui.flexbox.align-content(flex-start);
		.lui.flexbox.align-items(center);
	}

	&.a-left {
		.lui.flexbox.justify-content(flex-start);
		.lui.flexbox.align-content(flex-start);
	}

	&.a-right {
		.lui.flexbox.justify-content(flex-end);
		.lui.flexbox.align-content(flex-start);
	}

	&.a-middle,
	&.a-center {
		.lui.flexbox.justify-content(center);
		.lui.flexbox.align-content(flex-start);
	}
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
	.lui.box-sizing.border-box();
	padding: 0 @spacing_rows;
}




.col-1	{width: @col_1_W;}
.col-2	{width: @col_2_W;}
.col-3	{width: @col_3_W;}
.col-4	{width: @col_4_W;}
.col-5	{width: @col_5_W;}
.col-6	{width: @col_6_W;}
.col-7	{width: @col_7_W;}
.col-8	{width: @col_8_W;}
.col-9	{width: @col_9_W;}
.col-10	{width: @col_10_W;}
.col-11	{width: @col_11_W;}
.col-12	{width: @col_12_W;}


.ml-1	{margin-left: @tbl_1_W;}
.ml-2	{margin-left: @tbl_2_W;}
.ml-3	{margin-left: @tbl_3_W;}
.ml-4	{margin-left: @tbl_4_W;}
.ml-5	{margin-left: @tbl_5_W;}
.ml-6	{margin-left: @tbl_6_W;}
.ml-7	{margin-left: @tbl_7_W;}
.ml-8	{margin-left: @tbl_8_W;}
.ml-9	{margin-left: @tbl_9_W;}
.ml-10	{margin-left: @tbl_10_W;}
.ml-11	{margin-left: @tbl_11_W;}
.ml-12	{margin-left: @tbl_12_W;}


.mr-1	{margin-right: @tbr_1_W;}
.mr-2	{margin-right: @tbr_2_W;}
.mr-3	{margin-right: @tbr_3_W;}
.mr-4	{margin-right: @tbr_4_W;}
.mr-5	{margin-right: @tbr_5_W;}
.mr-6	{margin-right: @tbr_6_W;}
.mr-7	{margin-right: @tbr_7_W;}
.mr-8	{margin-right: @tbr_8_W;}
.mr-9	{margin-right: @tbr_9_W;}
.mr-10	{margin-right: @tbr_10_W;}
.mr-11	{margin-right: @tbr_11_W;}
.mr-12	{margin-right: @tbr_12_W;}

/* MOBILE ONES - OVERWRITED BY BIGGER SCREENS */
@media (max-width:@grid_xs_end){
	.col-xs-1	{width: @col_1_W;}
	.col-xs-2	{width: @col_2_W;}
	.col-xs-3	{width: @col_3_W;}
	.col-xs-4	{width: @col_4_W;}
	.col-xs-5	{width: @col_5_W;}
	.col-xs-6	{width: @col_6_W;}
	.col-xs-7	{width: @col_7_W;}
	.col-xs-8	{width: @col_8_W;}
	.col-xs-9	{width: @col_9_W;}
	.col-xs-10	{width: @col_10_W;}
	.col-xs-11	{width: @col_11_W;}
	.col-xs-12	{width: @col_12_W;}
	
	/* MARGIN LEFT */
	.ml-xs-1	{margin-left: @tbl_1_W;}
	.ml-xs-2	{margin-left: @tbl_2_W;}
	.ml-xs-3	{margin-left: @tbl_3_W;}
	.ml-xs-4	{margin-left: @tbl_4_W;}
	.ml-xs-5	{margin-left: @tbl_5_W;}
	.ml-xs-6	{margin-left: @tbl_6_W;}
	.ml-xs-7	{margin-left: @tbl_7_W;}
	.ml-xs-8	{margin-left: @tbl_8_W;}
	.ml-xs-9	{margin-left: @tbl_9_W;}
	.ml-xs-10	{margin-left: @tbl_10_W;}
	.ml-xs-11	{margin-left: @tbl_11_W;}
	.ml-xs-12	{margin-left: @tbl_12_W;}

	/* MARGIN RIGHT */
	.mr-xs-1	{margin-right: @tbr_1_W;}
	.mr-xs-2	{margin-right: @tbr_2_W;}
	.mr-xs-3	{margin-right: @tbr_3_W;}
	.mr-xs-4	{margin-right: @tbr_4_W;}
	.mr-xs-5	{margin-right: @tbr_5_W;}
	.mr-xs-6	{margin-right: @tbr_6_W;}
	.mr-xs-7	{margin-right: @tbr_7_W;}
	.mr-xs-8	{margin-right: @tbr_8_W;}
	.mr-xs-9	{margin-right: @tbr_9_W;}
	.mr-xs-10	{margin-right: @tbr_10_W;}
	.mr-xs-11	{margin-right: @tbr_11_W;}
	.mr-xs-12	{margin-right: @tbr_12_W;}

}

/* GRID T */
@media (min-width:@grid_sm_start){
	.col-sm-1	{width: @col_1_W;}
	.col-sm-2	{width: @col_2_W;}
	.col-sm-3	{width: @col_3_W;}
	.col-sm-4	{width: @col_4_W;}
	.col-sm-5	{width: @col_5_W;}
	.col-sm-6	{width: @col_6_W;}
	.col-sm-7	{width: @col_7_W;}
	.col-sm-8	{width: @col_8_W;}
	.col-sm-9	{width: @col_9_W;}
	.col-sm-10	{width: @col_10_W;}
	.col-sm-11	{width: @col_11_W;}
	.col-sm-12	{width: @col_12_W;}

	/* MARGIN LEFT */
	.ml-sm-1	{margin-left: @tbl_1_W;}
	.ml-sm-2	{margin-left: @tbl_2_W;}
	.ml-sm-3	{margin-left: @tbl_3_W;}
	.ml-sm-4	{margin-left: @tbl_4_W;}
	.ml-sm-5	{margin-left: @tbl_5_W;}
	.ml-sm-6	{margin-left: @tbl_6_W;}
	.ml-sm-7	{margin-left: @tbl_7_W;}
	.ml-sm-8	{margin-left: @tbl_8_W;}
	.ml-sm-9	{margin-left: @tbl_9_W;}
	.ml-sm-10	{margin-left: @tbl_10_W;}
	.ml-sm-11	{margin-left: @tbl_11_W;}
	.ml-sm-12	{margin-left: @tbl_12_W;}

	/* MARGIN RIGHT */
	.mr-sm-1	{margin-right: @tbr_1_W;}
	.mr-sm-2	{margin-right: @tbr_2_W;}
	.mr-sm-3	{margin-right: @tbr_3_W;}
	.mr-sm-4	{margin-right: @tbr_4_W;}
	.mr-sm-5	{margin-right: @tbr_5_W;}
	.mr-sm-6	{margin-right: @tbr_6_W;}
	.mr-sm-7	{margin-right: @tbr_7_W;}
	.mr-sm-8	{margin-right: @tbr_8_W;}
	.mr-sm-9	{margin-right: @tbr_9_W;}
	.mr-sm-10	{margin-right: @tbr_10_W;}
	.mr-sm-11	{margin-right: @tbr_11_W;}
	.mr-sm-12	{margin-right: @tbr_12_W;}
}

/* GRID D */
@media (min-width:@grid_md_start){
	.col-md-1	{width: @col_1_W;}
	.col-md-2	{width: @col_2_W;}
	.col-md-3	{width: @col_3_W;}
	.col-md-4	{width: @col_4_W;}
	.col-md-5	{width: @col_5_W;}
	.col-md-6	{width: @col_6_W;}
	.col-md-7	{width: @col_7_W;}
	.col-md-8	{width: @col_8_W;}
	.col-md-9	{width: @col_9_W;}
	.col-md-10	{width: @col_10_W;}
	.col-md-11	{width: @col_11_W;}
	.col-md-12	{width: @col_12_W;}

	/* MARGIN LEFT */
	.ml-md-1	{margin-left: @tbl_1_W;}
	.ml-md-2	{margin-left: @tbl_2_W;}
	.ml-md-3	{margin-left: @tbl_3_W;}
	.ml-md-4	{margin-left: @tbl_4_W;}
	.ml-md-5	{margin-left: @tbl_5_W;}
	.ml-md-6	{margin-left: @tbl_6_W;}
	.ml-md-7	{margin-left: @tbl_7_W;}
	.ml-md-8	{margin-left: @tbl_8_W;}
	.ml-md-9	{margin-left: @tbl_9_W;}
	.ml-md-10	{margin-left: @tbl_10_W;}
	.ml-md-11	{margin-left: @tbl_11_W;}
	.ml-md-12	{margin-left: @tbl_12_W;}

	/* MARGIN RIGHT */
	.mr-md-1	{margin-right: @tbr_1_W;}
	.mr-md-2	{margin-right: @tbr_2_W;}
	.mr-md-3	{margin-right: @tbr_3_W;}
	.mr-md-4	{margin-right: @tbr_4_W;}
	.mr-md-5	{margin-right: @tbr_5_W;}
	.mr-md-6	{margin-right: @tbr_6_W;}
	.mr-md-7	{margin-right: @tbr_7_W;}
	.mr-md-8	{margin-right: @tbr_8_W;}
	.mr-md-9	{margin-right: @tbr_9_W;}
	.mr-md-10	{margin-right: @tbr_10_W;}
	.mr-md-11	{margin-right: @tbr_11_W;}
	.mr-md-12	{margin-right: @tbr_12_W;}
}

/* GRID N */
@media (min-width:@grid_lg_start){
	.col-lg-1	{width: @col_1_W;}
	.col-lg-2	{width: @col_2_W;}
	.col-lg-3	{width: @col_3_W;}
	.col-lg-4	{width: @col_4_W;}
	.col-lg-5	{width: @col_5_W;}
	.col-lg-6	{width: @col_6_W;}
	.col-lg-7	{width: @col_7_W;}
	.col-lg-8	{width: @col_8_W;}
	.col-lg-9	{width: @col_9_W;}
	.col-lg-10	{width: @col_10_W;}
	.col-lg-11	{width: @col_11_W;}
	.col-lg-12	{width: @col_12_W;}

	/* MARGIN LEFT */
	.ml-lg-1	{margin-left: @tbl_1_W;}
	.ml-lg-2	{margin-left: @tbl_2_W;}
	.ml-lg-3	{margin-left: @tbl_3_W;}
	.ml-lg-4	{margin-left: @tbl_4_W;}
	.ml-lg-5	{margin-left: @tbl_5_W;}
	.ml-lg-6	{margin-left: @tbl_6_W;}
	.ml-lg-7	{margin-left: @tbl_7_W;}
	.ml-lg-8	{margin-left: @tbl_8_W;}
	.ml-lg-9	{margin-left: @tbl_9_W;}
	.ml-lg-10	{margin-left: @tbl_10_W;}
	.ml-lg-11	{margin-left: @tbl_11_W;}
	.ml-lg-12	{margin-left: @tbl_12_W;}

	/* MARGIN RIGHT */
	.mr-lg-1	{margin-right: @tbr_1_W;}
	.mr-lg-2	{margin-right: @tbr_2_W;}
	.mr-lg-3	{margin-right: @tbr_3_W;}
	.mr-lg-4	{margin-right: @tbr_4_W;}
	.mr-lg-5	{margin-right: @tbr_5_W;}
	.mr-lg-6	{margin-right: @tbr_6_W;}
	.mr-lg-7	{margin-right: @tbr_7_W;}
	.mr-lg-8	{margin-right: @tbr_8_W;}
	.mr-lg-9	{margin-right: @tbr_9_W;}
	.mr-lg-10	{margin-right: @tbr_10_W;}
	.mr-lg-11	{margin-right: @tbr_11_W;}
	.mr-lg-12	{margin-right: @tbr_12_W;}
}

/* GRID HD */
@media (min-width:@grid_xl_start){
	.col-xl-1	{width: @col_1_W;}
	.col-xl-2	{width: @col_2_W;}
	.col-xl-3	{width: @col_3_W;}
	.col-xl-4	{width: @col_4_W;}
	.col-xl-5	{width: @col_5_W;}
	.col-xl-6	{width: @col_6_W;}
	.col-xl-7	{width: @col_7_W;}
	.col-xl-8	{width: @col_8_W;}
	.col-xl-9	{width: @col_9_W;}
	.col-xl-10	{width: @col_10_W;}
	.col-xl-11	{width: @col_11_W;}
	.col-xl-12	{width: @col_12_W;}

	/* MARGIN LEFT */
	.ml-xl-1	{margin-left: @tbl_1_W;}
	.ml-xl-2	{margin-left: @tbl_2_W;}
	.ml-xl-3	{margin-left: @tbl_3_W;}
	.ml-xl-4	{margin-left: @tbl_4_W;}
	.ml-xl-5	{margin-left: @tbl_5_W;}
	.ml-xl-6	{margin-left: @tbl_6_W;}
	.ml-xl-7	{margin-left: @tbl_7_W;}
	.ml-xl-8	{margin-left: @tbl_8_W;}
	.ml-xl-9	{margin-left: @tbl_9_W;}
	.ml-xl-10	{margin-left: @tbl_10_W;}
	.ml-xl-11	{margin-left: @tbl_11_W;}
	.ml-xl-12	{margin-left: @tbl_12_W;}

	/* MARGIN RIGHT */
	.mr-xl-1	{margin-right: @tbr_1_W;}
	.mr-xl-2	{margin-right: @tbr_2_W;}
	.mr-xl-3	{margin-right: @tbr_3_W;}
	.mr-xl-4	{margin-right: @tbr_4_W;}
	.mr-xl-5	{margin-right: @tbr_5_W;}
	.mr-xl-6	{margin-right: @tbr_6_W;}
	.mr-xl-7	{margin-right: @tbr_7_W;}
	.mr-xl-8	{margin-right: @tbr_8_W;}
	.mr-xl-9	{margin-right: @tbr_9_W;}
	.mr-xl-10	{margin-right: @tbr_10_W;}
	.mr-xl-11	{margin-right: @tbr_11_W;}
	.mr-xl-12	{margin-right: @tbr_12_W;}
}

/* GRID 2K */
@media (min-width:@grid_hd_start){
	.col-hd-1	{width: @col_1_W;}
	.col-hd-2	{width: @col_2_W;}
	.col-hd-3	{width: @col_3_W;}
	.col-hd-4	{width: @col_4_W;}
	.col-hd-5	{width: @col_5_W;}
	.col-hd-6	{width: @col_6_W;}
	.col-hd-7	{width: @col_7_W;}
	.col-hd-8	{width: @col_8_W;}
	.col-hd-9	{width: @col_9_W;}
	.col-hd-10	{width: @col_10_W;}
	.col-hd-11	{width: @col_11_W;}
	.col-hd-12	{width: @col_12_W;}

	/* MARGIN LEFT */
	.ml-hd-1	{margin-left: @tbl_1_W;}
	.ml-hd-2	{margin-left: @tbl_2_W;}
	.ml-hd-3	{margin-left: @tbl_3_W;}
	.ml-hd-4	{margin-left: @tbl_4_W;}
	.ml-hd-5	{margin-left: @tbl_5_W;}
	.ml-hd-6	{margin-left: @tbl_6_W;}
	.ml-hd-7	{margin-left: @tbl_7_W;}
	.ml-hd-8	{margin-left: @tbl_8_W;}
	.ml-hd-9	{margin-left: @tbl_9_W;}
	.ml-hd-10	{margin-left: @tbl_10_W;}
	.ml-hd-11	{margin-left: @tbl_11_W;}
	.ml-hd-12	{margin-left: @tbl_12_W;}

	/* MARGIN RIGHT */
	.mr-hd-1	{margin-right: @tbr_1_W;}
	.mr-hd-2	{margin-right: @tbr_2_W;}
	.mr-hd-3	{margin-right: @tbr_3_W;}
	.mr-hd-4	{margin-right: @tbr_4_W;}
	.mr-hd-5	{margin-right: @tbr_5_W;}
	.mr-hd-6	{margin-right: @tbr_6_W;}
	.mr-hd-7	{margin-right: @tbr_7_W;}
	.mr-hd-8	{margin-right: @tbr_8_W;}
	.mr-hd-9	{margin-right: @tbr_9_W;}
	.mr-hd-10	{margin-right: @tbr_10_W;}
	.mr-hd-11	{margin-right: @tbr_11_W;}
	.mr-hd-12	{margin-right: @tbr_12_W;}
}

/* GRID 3K */
@media (min-width:@grid_2k_start){
	.col-2k-1	{width: @col_1_W;}
	.col-2k-2	{width: @col_2_W;}
	.col-2k-3	{width: @col_3_W;}
	.col-2k-4	{width: @col_4_W;}
	.col-2k-5	{width: @col_5_W;}
	.col-2k-6	{width: @col_6_W;}
	.col-2k-7	{width: @col_7_W;}
	.col-2k-8	{width: @col_8_W;}
	.col-2k-9	{width: @col_9_W;}
	.col-2k-10	{width: @col_10_W;}
	.col-2k-11	{width: @col_11_W;}
	.col-2k-12	{width: @col_12_W;}

	/* MARGIN LEFT */
	.ml-2k-1	{margin-left: @tbl_1_W;}
	.ml-2k-2	{margin-left: @tbl_2_W;}
	.ml-2k-3	{margin-left: @tbl_3_W;}
	.ml-2k-4	{margin-left: @tbl_4_W;}
	.ml-2k-5	{margin-left: @tbl_5_W;}
	.ml-2k-6	{margin-left: @tbl_6_W;}
	.ml-2k-7	{margin-left: @tbl_7_W;}
	.ml-2k-8	{margin-left: @tbl_8_W;}
	.ml-2k-9	{margin-left: @tbl_9_W;}
	.ml-2k-10	{margin-left: @tbl_10_W;}
	.ml-2k-11	{margin-left: @tbl_11_W;}
	.ml-2k-12	{margin-left: @tbl_12_W;}

	/* MARGIN RIGHT */
	.mr-2k-1	{margin-right: @tbr_1_W;}
	.mr-2k-2	{margin-right: @tbr_2_W;}
	.mr-2k-3	{margin-right: @tbr_3_W;}
	.mr-2k-4	{margin-right: @tbr_4_W;}
	.mr-2k-5	{margin-right: @tbr_5_W;}
	.mr-2k-6	{margin-right: @tbr_6_W;}
	.mr-2k-7	{margin-right: @tbr_7_W;}
	.mr-2k-8	{margin-right: @tbr_8_W;}
	.mr-2k-9	{margin-right: @tbr_9_W;}
	.mr-2k-10	{margin-right: @tbr_10_W;}
	.mr-2k-11	{margin-right: @tbr_11_W;}
	.mr-2k-12	{margin-right: @tbr_12_W;}
}
