/*

GRID

4k 3800+ (UHD-1, 4K)
3k 3400+ (UWQHD)
2k 2500+ (WQHD)
hd 1850+ (1080p, FULL HD, 2K - 2048)
nb 1200+ (720p, "HD READY")
ds 950+ (desktop - most websites will use this cuz they are not wider than 1200px)
tb 768+ (tablet - verticaly)
mb 0+ (mobiles)


*/

@grid_mb_w:  0px; // JUST FOR INFO
@grid_tb_w:  768px;
@grid_ds_w:  950px;
@grid_nb_w:  1200px;
@grid_hd_w: 1850px;
@grid_2k_w: 2500px;
@grid_3k_w: 3400px;
@grid_4k_w: 3800px;

/* GRID M */


/* GRID T */
@media (min-width:@grid_tb_w){
	
}

/* GRID D */
@media (min-width:@grid_ds_w){
	
}

/* GRID N */
@media (min-width:@grid_nb_w){
	
}

/* GRID HD */
@media (min-width:@grid_hd_w){
	
}

/* GRID 2K */
@media (min-width:@grid_2k_w){
	
}

/* GRID 3K */
@media (min-width:@grid_3k_w){
	
}

/* GRID 4K */
@media (min-width:@grid_4k_w){
	
}