

/* UI MESSAGES */
@default_ui_message_confirm_bg: 	#cdf6bf;
@default_ui_message_confirm_color: 	#11420e;

@default_ui_message_error_bg: 		#f6bfbf;
@default_ui_message_error_color: 	#420e0e;

@default_ui_message_warning_bg: 	#f6e6bf;
@default_ui_message_warning_color: 	#42360e;

@default_ui_message_info_bg: 		#bfe6f6;
@default_ui_message_info_color: 	#0e3542;

@default_ui_form_required_color: 	#AE0000;


/*

PLENTY OF STUFF TO DO 

*/


/* @import "ui.less"; */



@import "/ui/less/mixins/mixin.clear.less";
@import "/ui/less/mixins/mixin.border-radius.less";
@import "/ui/less/mixins/mixin.box-sizing.less";
@import "/ui/less/mixins/mixin.animation.less";
@import "/ui/less/mixins/mixin.transform.less";
@import "/ui/less/mixins/mixin.transition.less";
@import "/ui/less/mixins/mixin.flexbox.less";